<h2>Edit Address</h2>

<%= form_with model: @address, url: address_path, data: { turbo: false }  do |f| %>
  <%= render "layouts/error_messages", resource: f.object %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>
