<header>
  <h1>Admin</h1>
  <% if admin_user_signed_in? %>
    <nav>
      <ul>
        <li>
          Signed in as <%= current_admin_user.email %>
        </li>
        <li>
          <%= link_to admin_tenants_path do %>
          Tenants
          <% end %>
        </li>
        <li>
          <%= link_to admin_sign_out_path, data: { turbo_method: :delete } do %>
          Sign Out
          <% end %>
        </li>
      </ul>
    </nav>
  <% end %>
</header>
